%h3 Help

.help-text

  %h5 Share this recipe
  %p.note If you would like to share this recipe with the Heritage Community, click this box. Your recipe will appear in the recipe tab. We’ll be choosing recipes to have professionally prepared, photographed, and shared on social media (along with your name and story of course), so this is a fun way to share your recipes with the world!

= link_to "Close", "#", class: 'close-modal button blue'