%h3 Help

.help-text

  %h5 Page layout

  %p.note 
    If you have no story, a vertical (portrait) photo will fill the whole left page (with a ½” white border all around). Keep in mind that in order to fill the whole page, the photo has to be the same proportions as your book, 5x8, or 6x9. If you have a horizontal (landscape) photo, it will fill the maximum width, and sit in the middle of the page.
    %br
    When you add text, the photo will take up half the page, with text underneath.

= link_to "Close", "#", class: 'close-modal button blue'