%h3 Help

.help-text

  %h5 Don't merge my recipe with another
  %p.note If your recipe is short, the program will automatically group it with another short recipe within the same section and put two per page. These recipes will come after the two-page recipes and the single-page recipes. If you want your recipe to stand alone on its own page, check this box.

= link_to "Close", "#", class: 'close-modal button blue'