%h3 Help

.help-text

  %h5 Stories

  %p.note 
    Stories are added to recipes the following way:
    %br
    On a two page recipe, the story goes with the photo on the left hand page
    %br
    One a single page recipe with or without a photo, the story goes under the title of the recipe

= link_to "Close", "#", class: 'close-modal button blue'