%h3 Help

.help-text

  %h5 Photos
  %p.note 
    Note: images that are uploaded and are originally black-and-white photos will be counted as a color page unless you check the black-and-white box.
    %br
    You can change the image by choosing "modify my image.".
    %br
    You can also remove the image altogether by selecting "remove.".
    %br
    When you are done, hit "done", and you’ll be taken back to the recipe editing screen.

= link_to "Close", "#", class: 'close-modal button blue'