<%= content_for :headline, "Your HeritageCookbook account" %>

<h2>Dear <%= @user_name %>,</h2>

<p>I just wanted to check in with you and say "hello" and see how you are doing with your cookbook. These reminder emails come automatically even if you have already sent in your order. Not to worry. :)</p>

<p>Remember that all of the information that you put in your cookbook during the free trial will transfer over to a regular membership if you have not finished. And if you have any questions and need any help just email me at <a href="mailto:<%= CONTACT_EMAIL %>"><%= CONTACT_EMAIL %></a>.</p>

<p>
  What One Member said:
  <br/><br/>
  <em>"It was all so easy - even a dummy like me can use it! And if I got caught, I could ask you for help. You made me feel like I was the only one doing the book, although I know there are many others out there too."</em>
</p>
 
<p>
  Cookbook Success Story
  <br/><br/>
  <em>"They love it!. It is a wonderful record of a family!"</em>
</p>

<p>
  <em>"A house is beautiful, not because of its walls, but because of its cakes."</em>
  <br/>
  -- Old Russian proverb
</p>

<p>
  Have fun!
  <br/>
  Virginie
</p>