<%= content_for :headline, "You have 29 days left in your HeritageCookbook trial" %>

<h2>Dear <%= @user_name %>,</h2>

<p>I just wanted to check in with you and say "hello" and see how you are doing with your cookbook.</p>

<p>Every few days or so during your free trial I'll send you a note with some fun quotes about food and some words from others who have also made cookbooks. I hope you enjoy what I found. I had fun putting it together.</p>

<p>Remember that if you have any questions and need any help just email me at <a href="mailto:<%= CONTACT_EMAIL %>"><%= CONTACT_EMAIL %></a>.</p>

<p>
  <em>"Laughter is brightest where food is best"</em>
  <br/>
  -- IRISH PROVERB
</p>

<p>
  <em>"When we lose, I eat. When we win, I eat. I also eat when we're rained out."</em>
  <br/>
  -- TOMMY LASORDA, baseball manager
</p>

<p>
  <em>"Never eat more than you can lift."</em>
  <br/>
  -- MISS PIGGY, Muppet
</p>

<p>
  What One Member likes about the site:
  <br/>
  <em>"It allows me to be creative without having to spend copious amounts of time in the design process."</em>
</p>