<%= content_for :headline, "You have 15 days left in your HeritageCookbook trial" %>

<h2>Dear <%= @user_name %>,</h2>

<p>It’s me again – just checking in to see how you are doing. These reminder emails come automatically even if you have already sent in your order.Not to worry. :)</p>

<p>Remember that if you have any questions and need any help just email me at <a href="mailto:<%= CONTACT_EMAIL %>"><%= CONTACT_EMAIL %></a>.</p>