<%= content_for :headline, "You have 7 days left on your HeritageCookbook trial" %>

<h2>Dear <%= @user_name %>,</h2>

<p>A few quotes to make you smile...</p>

<p>
  <em>"To me, an airplane is a great place to diet."</em>
  <br/>
  -- WOLFGANG PUCK, chef
</p>
 
<p>
  <em>"Cooking is a great form of stress relief."</em>
  <br/>
  -- QUEEN LATIFAH, actress
</p>

<p>
  Fundraising Success Story
  <br/>
  <em>"Everyone was just floored by the professionalism of the final published copy. I think that everyone was expecting something that was copied at Kinko's and hand bound. Instead, we got a cookbook that was professionally published in B&W and color on beautiful paper. The response was fantastic!"</em>
</p>