<%= content_for :headline, "You have 5 days left on your HeritageCookbook trial" %>

<h2>Dear <%= @user_name %>,</h2>

<p>Just 5 days left in your free trial – how are you doing?</p>

<p>Remember that if you have any questions and need any help just email me at <a href="mailto:<%= CONTACT_EMAIL %>"><%= CONTACT_EMAIL %></a>.</p>

<p>
  <em>"Baking bread is one of those almost hypnotic businesses, like a dance from some ancient ceremony. It leaves you filled with one of the world’s sweetest smells."</em>
  <br/>
  -- M. F. K. FISHER, writer
</p>
 
<p>
  <em>"The only reason for a bee that I know of is making honey … and the only reason for making honey is so I can eat it."</em>
  <br/>
  -- WINNIE THE POOH, beloved bear 
</p>

<p>
  <em>"I wonder if the world holds for anyone a more wonderful surprise than the first adventure with ice cream."<em>
  <br/>
  -- HEYWOOD BROUN, journalist
</p>

<p>
  <em>"I adore sea food, especially salt water taffy."</em>
  <br/>
  -- MILTON BERLE, comedian
</p>

<p>
  A Family Cookbook Success Story:
  <br/>
  <em>"I gave out the cookbooks on Mother’s Day and everyone was in tears when they saw the picture of Grandma on the cover of the cookbook – even my brother needed a kleenex."</em>
</p>
