<%= content_for :headline, "Your new HeritageCookbook password" %>

<h2>Dear <%= @first_name %></h2>

<p>It really is easy to forget a password, isn't it? Our lives just seem to be so full of numbers and codes and things to remember! Don't worry, we've created a new password for you.</p>

<p>It's a computer generated password, so it might be hard to remember. Once you have logged in, you can go to the 'My Account' page, where you can change it to something you'll remember more easily.</p>

<p>Your new password is: <strong><%= @password %></strong></p>

Virginie