<%= content_for :headline, "Your HeritageCookbook account will expire in one week" %>

<h2>Dear <%= @user_name %>,</h2>

<p>This is just a short reminder email to say that you have 7 days before your HeritageCookbook membership expires.</p>

<p>If you need more time to finish your cookbook you can add it by logging on and clicking on Add More Time.</p>

<p>These reminder emails come automatically even if you have already sent in your order. Not to worry. :)</p>

<p>And if you need some help or have some questions please email me at <a href="mailto:<%= CONTACT_EMAIL %>"><%= CONTACT_EMAIL %></a></p>

<p>Virginie</p>
