%h3 Help

.help-text

  %h5 Recipe layout

  %p.note You can have a photo on the left page with a recipe on the right, one or two recipes on a single page, or a recipe and photo on a single page. Really long recipes or text and photos that are not recipes (like family history, or information about your charity), should be entered as extra pages. 

= link_to "Close", "#", class: 'close-modal button blue'