%h3 Help

.help-text

  %h5 Extra pages

  %p.note 
    You can add a photo to an extra page, and the photo will be placed under the title. If you add a photo but no text, the photo will fill the entire page. You can also add a series of images by putting one on each page. Extra pages are always placed at the back of a section (for pagination, so there are no blank pages in your book).
    %br
    If you have a very long recipe you will need to enter ALL of that recipe using the Extra Page function – don’t put the first part on a regular recipe template and then start the second part using the Extra Page function as the two pages won’t follow each other.

= link_to "Close", "#", class: 'close-modal button blue'