%h3 Help

.help-text

  %h5 Page count

  %p.note 
    The number of pages you are allowed will depend on the type of binding you’ve chosen (
    %em all bindings allow for 400 pages except for the wire binding, which allows for 150 pages
    ). You can always go back to the design tab to change that.

= link_to "Close", "#", class: 'close-modal button blue'