- content_for :page_title, "Create sections for your book"
- content_for :headline, "Create sections for your book"
- content_for :info_panel, render("info_panels/sections")

%h3= "Edit my section"

= render 'form'