%h3 Help

.help-text

  %h5 About the definion of pictures 
  %p.note 
    Pictures need to be 300 dpi at 6x9. 
    %br
    You will get a warning if you have uploaded a photo that is too low a resolution. 
    %br
    If it’s an image you have scanned, try increasing the resolution on the scanner and scanning it again. 
    %br
    If it’s an image you have created on a program, increase the resolution on the file when you save it (this is sometimes called image quality). Open a preview of your photo at 100% and look to see if your photos appear clear- the preview is a low res image, but will give you a general idea of how the image will look.  
    %br
    Remember also that pictures will print darker than they appear on your computer screen (as the screen is back lit).

= link_to "Close", "#", class: 'close-modal button blue'