= render "info_panels/here_to_help"

#info-text

  %h4 Additional information

  %p.note You will help us work together better if you fill in the following information. You see, Susan often just picks up the phone and calls, in case you need some individual help. If you don’t fill in your phone number she won’t be able to get in touch with you quickly.

  %p.note
    P.S. We 
    %strong NEVER 
    share any personal information with anyone.