= render "info_panels/here_to_help"

#info-text
  
  %h4 Contributors

  %h5 Adding contributors
  %p.note 
    Invite your friends and family to contribute their favorite recipes to your cookbook! There is no limit to the number of people you can invite to help you.
    %br
    Contributors can add their own recipes, and edit them, but can’t make changes to recipes they have not entered or make changes to your design and binding. They can’t order books either.


  %h5 Sending out invitations

  %p.note 
    Fill in the name and email address of the person you would like to invite, along with a brief message. It’s a good idea to let them know you are inviting them beforehand, and ask them to put 
    = mail_to 'virginie@heritagecookbook.com'
    in their email safe list so this email does not end up in their spam/trash folder.

  %h5 Current contributors

  %p.note
    Here is where we list everyone working on your cookbooks. If someone tells you they did not get their invite, make sure they have put 
    = mail_to 'virginie@heritagecookbook.com'
    on their safe list, and re-send the invitation. If you wish to block their access to your cookbook during your editing period, you can remove them from the contributor list. Their recipes will not be removed. You can always add more contributors at any time.