= render "info_panels/here_to_help"

#info-text
  %h4 Finalize your order

  %h5 Timing
  %p.note Your books print in two or or three weeks, and usually take about a week to ship. If you have a “need to have it on this date” deadline, you can make a note of that on the order form.

  %h5 Special instructions
  %p.note If you need your books by a specific date, you can make a note of that here. Our printer will try their best to accommodate and let you know if they can’t. If you are worried about a specific page or photo, you can also make a note of that here, and the printer will take a look.

  %h5 Shipping
  %p.note 
    Our printer ships via FedEx ground. You will receive a tracking number.
    %br
    If you have a very large order the books will be shipped with a trucking company. 

  %h5 Billing
  %p.note Your books are being printed by HUME IMAGING and so the charge on your credit card will appear under their name. Pricing is in US dollars.

  %h5 Getting your books
  %p.note
    When you get your books, 
    =  mail_to CONTACT_EMAIL, "drop me a line"
    and let me know how you like them! The entire team here at Heritage and over at Hume takes such pride in these books, and your letters literally bring tears to our eyes, and make us so proud to be part of your family’s heritage!"