= render "info_panels/here_to_help"

#info-text
  %h4 Choose the look of your book

  %h5 Select a binding format
  %p.note 
    The first thing to do is to pick your binding (Don’t worry, you can always change it later). Here are some things to think about:
    %ol.note
      %li The plastic coil is the most cost effective binding and the best performer in the kitchen! It has a laminated front and back cover and white spiral coil. It lies perfectly flat on a counter. This book measures 6X9”. Maximum page count 400.
      %li The wire bound wrap around cover has the look of a soft cover book and can lie flat on a counter. The cover is laminated front and back and wraps around the entire book. It is also very cost effective and performs well in the kitchen. This book measures 6X9”. Maximum page count 150.
      %li The soft cover has the look of a professional book at an affordable price. It is larger than the other two books, but a little harder to maneuver since it does not lie flat on a counter as well as some of the other bindings. This book measures 7X10”. Maximum page count 400.
      %li The hard cover book is the one for you if you are making a beautiful keepsake (think glossy coffee table book). This is ideal for a collection of personal family stories, photos and recipes that will live on with future  generations. You might want to use a book holder if you want to use this one in the kitchen. This book measures 7X10”. Maximum page count 400.

  %h5 Select a book design
  %p.note 
    Now, you can choose your cover. You can always change it later, but you need to select one before moving on to the next step.
    %br
    Choose a cover and it will appear in the top window. If you like it, click “use this design” to move to the next step. If you don’t, just select a different one.
    %br
    %span.picto.text
    indicates this is a cover where you can change the text
    %br
    %span.picto.photo
    indicates a cover where you can add your own personal photo.

  %h5 Naming your book
  %p.note Give your book a reference name (top right). This is not the printed title of the book, but just a name you will use to refer to the book. Something like “Christmas book,” or “St. Joe’s fundraiser.” This will be useful if you are working on several books.

  %h5 Designing your own cover (n°1)
  
  %p.note 
    Choose this template if you would like to upload your own photo or design to the cover, title page and section dividers. Read more about this
    = link_to "here", faq_path(anchor: :designing_your_own_cover_and_dividers)
    = "."
