= render "info_panels/here_to_help"

#info-text

  %h4 Introductions and dedications

  %h5 About this page
  %p.note 
    This is a page for you to personalize your book and share your thoughts, add a story, poem, or thank someone. 
    %br
    Choose whether you want the text to be aligned left, or centered in the middle of the page. This formatting applies to the text only, not the title or photo. You can type as much as you like; the text will just keep going and give you as many pages as you need. 
    %br
    You can also add an image, like maybe a family tree, a logo if you are making a fundraiser, or just a special photo. (You can only include one photo.) If you want to use this photo in black and white, click “turn this into a black and white photo” (the default is color, so a photo uploaded as a black and white will count as a color page unless you check this option).
    %br
    If you don’t want this page at all, select “I do not wish to include this page”

  %h5 How we lay out this page
  %p.note 
    If there is no text, a vertical (portrait) photo will take up the whole page. A horizontal (landscape) photo will sit in the middle and go from margin to margin across the page. 
    %br
    If you add text to the page, the photo will move to the top of the page, under the words Introduction or Dedication (depending on what you chose), and the text under that.

  %h5 Preview the page
  %p.note PREVIEW what you have done. You can make changes to the text, or image and preview it again until you get it right. Then hit "done".