= render "info_panels/here_to_help"

#info-text

  %h4 About extra pages
  %p.note 
    An extra page is a page that lets you type as much as you want, kind of like Word, and keeps adding pages. It’s useful for long recipes, and also for long stories, or for adding full-page images.
    %br
    You can add a photo to an extra page, if there is no text, a vertical photo will take up the whole page, a horizontal, the whole width.
    %br
    If you add text, the photo will go under the title, and text below that.
    %br
    If you would like this entry to be indexed with your recipes, check that box.
    %br
    Extra pages go alphabetically at the end of a section.

  %h5 Add a photo
  %p.note 
    Add a photo to your extra page by selecting a jpg from your computer and adding it in, or choosing one from our library. If you would like your photo to be in black and white, check the black and white box. The program will save the photo, so make sure you wait until you get a “saved!” message before moving on. 
    = modal_tag "(more on adding photos here)", render("recipes/modal_help_photo")