= render "info_panels/here_to_help"

#info-text

  %h4 Preview and order your book

  %h5 Preview your book
  %p.note 
    Now that you’re done, you may be tempted to rush through this step. But take my word for it, don’t do that! 
    %br
    Take your time to preview your book carefully before you order it. It’s always easier to see typos and mistakes on paper I find, so print your preview file and go through it with a fine-tooth comb. Then give it to someone who’s never seen it, and ask them to give it a read. 
    %br
    Please note that depending on the size of your book, the number of pages and the speed of your internet connection, it may take a few minutes to load the preview. Only press "preview" once! Pressing it again starts the whole process again!
    = modal_tag "(read more about about the definion of pictures)", render("orders/modal_help_pictures")

  %h5 Your book price
  %p.note 
    Enter the number of books you want as well as the shipping information to get the price of your book. This price changes depending on how many pages you have, how many color pages, and how many books you are ordering. If you are ordering more than 199 books, 
    the program will request a custom quote when you hit “request a custom quote”. I will e-mail you in a day or two with a price. This is so we can make sure we are giving you the best possible price.

  %h5 Timing
  %p.note Your books print in two or or three weeks, and usually take about a week to ship. If you have a “need to have it on this date” deadline, you can make a note of that on the order form.

  %h5 Order your book
  %p.note 
    Once you have previewed your book, press “place this order” and you will be directed to our payment page. If you don’t have a credit card, email me and we will sort out another way to process payment! 