%h3 Help

.help-text

  %p.note
    %strong THE FOLLOWING IS IMPORTANT

  %p.note When making the cover (and title page) it is important to know that the book is 6x9”  or 7x10” (depending on the binding you chose) and the cover has a 1/2” white border all around. The image/design you create should therefore measure 5x8”, or 6x9” (for the larger 7x10” book).

  %p.note If you would like your cover image to go right to the edge (full bleed), you can make a note of that when you place the order. We can only offer full bleeds on the cover.

  %p.note You can use a photo from your computer or scan an image. Anything scanned should be at a resolution of 250-300 dpi (dots per inch). Anything larger just makes your file too big and won’t improve the quality of the final image.

  %p.note You’ll need to add the text directly to your image before you upload it onto the cover. There are lots of great photo-editing sites online you can use to do this.

  %p.note When you click on the PREVIEW COVER, you may see a wider border at the bottom than on the other three sides; you need to make your image a bit thinner by shaving off some of the sides. The same guidelines apply for the title page, and section dividers you create later on in the book.

= link_to "Close", "#", class: 'close-modal button blue'