#terms-of-service
  %p
    NOTICE TO USER - PLEASE READ THE FOLLOWING TERMS AND CONDITIONS CAREFULLY. This Web site (the "Site") is provided by Heritage Cookbook, Inc. ("Heritage") for the use of individuals to share and record recipes with other individuals subject to these terms and conditions of use as amended from time to time (the "Terms and Conditions"). By using this Site, you are deemed to have agreed to the Terms and Conditions. You acknowledge that you have read the Terms and Conditions and agree to be bound by them. IF AT ANY TIME YOU CHOOSE NOT TO ACCEPT THESE TERMS AND CONDITIONS&nbsp;YOU MUST REFRAIN FROM USING&nbsp;THIS SITE.</p>

  %h1 TERMS AND CONDITIONS

  %h2 1. User Conduct

  %p 
    This Site including the ability to contribute material (a "Contribution") on this Site (collectively, the "Services") are provided to you solely for your information and enjoyment. Without limiting the foregoing, you agree not to use the Site or Services to upload, post, copy, reproduce, distribute or otherwise transmit any online information, including but not limited to any Contribution including text, logos or trademarks (the "Content") in any way or to submit any material that infringes any third party's rights or that is unlawful, harmful, defamatory, obscene, libelous, invasive of another's privacy, that contains software viruses, that will harm minors in any way or that will intentionally or unintentionally violate any applicable local, state, national or international law. You further agree not to modify, adapt or exploit any Content.
    %br
    You acknowledge and agree that the Content you view, submit or post is at your own discretion and risk, including any reliance on the accuracy, completeness, or usefulness of such Content and that you may not rely on any such Content. You must abide by all additional copyright notices or other restrictions contained on the Site. If you should violate any of the Terms and Conditions of this Agreement, your right to use this Site will be discontinued immediately without notice to you. Heritage may change the Terms and Conditions, features, specifications and content of the Site from time to time and at any time without actual notice to you. By using the Site after we post any such changes, you agree to accept those changes.

  %h2 2. Unsolicited Materials

  %p In operating the Site, Heritage does not solicit nor does it wish to receive any confidential, secret or proprietary information. Any information or material submitted or sent to Heritage will be deemed not to be confidential or secret. By submitting or sending material to Heritage you represent and warrant that it is original and that no other party has any rights to the material. You are solely responsible for any Contribution or Content that you post on the Site.

  %h2 3. User's Grant of Limited License

  %p 
    By communicating with Heritage, including submitting or sending a Contribution or other information, you grant to Heritage the royalty-free right or license to reproduce and otherwise use such Contribution for the purpose of rendering the Services for which you have subscribed. Heritage may contact you from time to time to request permission to include your Contribution in cookbooks other than that which was created using the Services, or for other commercial, charitable purposes, in which case you agree that such permission will not be unreasonably witheld or delayed. You agree to allow copies of your cookbook to be shown for promotional purposes.

  %h2 4. Linked Sites

  %p 
    You may be able to link to third parties' web sites ("Linked Sites") from the Site. Linked Sites are not, however, reviewed, controlled, or examined by Heritage and Heritage is not responsible for the content or any other materials of such Linked Sites or any additional links contained therein. It is your sole responsibility to comply with the appropriate terms of service and any other obligation of the Linked Site. Permission must be granted by us for any type of link to HeritageCookbook.com. To seek our permission please write to 
    = mail_to CONTACT_EMAIL
    = "."

  %h2 5. Intellectual Property Rights

  %p Heritage owns all rights in and to the Site, all underlying software, HTML and other source code, the site templates, introductory pages, covers and dividers including, but not limited to all copyrights, trademarks, trade secrets, patents and all other intellectual property rights thereto. Except as otherwise specifically provided in these Terms and Conditions, you may not download or save a copy of the Site or any portion thereof for any purpose. You may, however, print a copy of individual screens appearing as part of the Site solely for your personal, non-commercial use or records, provided that any marks, logos or other legends that appear on the copied screens remain on, and are not removed. Heritage reserves all other rights not expressly granted herein. You agree that Heritage shall have the right to use copies of cookbooks generated by the Site for promotional, academic, archival or cultural purposes, provided that Heritage may not sell or otherwise commercially distribute copies of your cookbook without your prior written agreement. For clarity, nothing in these Terms and Conditions grants Heritage ownership of your contributions. Subject to these Terms and Conditions, you are free to reproduce, re-publish or otherwise exploit your own Contribution(s) and the condent part forming hereof. However, Heritage owns all the right, title, and interest, including all copyright, in its unique presentation and formatting of your Contribution and any electronic or physical copies thereof, including, without limitation, the PDF files generated by the Site and all printed cookbooks resulting from the services. All output generated by, or otherwise forming part of, the Site or the Services is the exclusive property of Heritage, and may not be commercailly reproduced, published or otherwise exploited without the prior written consent of Heritage.

  %h2 6. Parental Permission

  %p 
    Heritage may, in its discretion, require users under 18 to obtain the consent of a parent or guardian to view certain content or otherwise. You agree to abide by any such requirements and not to help anyone avoid these restrictions.

  %h2 7. Disclaimer Of Warranties

  %p 
    All Heritage services, including, but not limited to the SITE AND SERVICES ARE PROVIDED "AS IS" WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, CONSTRUCTIVE OR STAUTORY, INCLUDING WITHOUT LIMITATION OF THE FOREGOING, HERITAGE SPECIFICALLY DISCLAIMS ANY AND ALL WARRANTIES, INCLUDING, BUT NOT LIMITED TO ANY IMPLIED WARRANTIES OF MERCHANTIBILITY, FITNESS FOR A PARTICULAR PURPOSE OR THE AVAILABILITY, ACCURACY, APPROPRIATENESS, RELIABILITY, TIMELINESS, USEFULNESS, OR OTHERWISE OF THE CONTENT OF THE SITE OR THE SERVICES.
    %br 
    Some jurisdictions do not allow the exclusion of implied warranties, so the above exclusion may not apply to you.

  %h2 8. Limitation Of Liability

  %p 
    You acknowledge that Heritage is not responsible for material submitted to it or posted to the Site. Heritage may, in its sole discretion, refuse or remove any Content in whole or in part that in its judgment is objectionable. You will remain responsible for the accuracy, copyright compliance, legality or any other aspect of a Contribution.

  %p 
    IN NO EVENT WILL HERITAGE, ITS OFFICERS, DIRETORS OR EMPLOYEES BE LIABLE TO ANY PARTY FOR ANY INDIRECT, SPECIAL, PUNITIVE, INCIDENTAL OR CONSEQUENTIAL DAMAGES OR ANY OTHER DAMAGES ARISING OUT OF YOUR ACCESS, INABILITY TO ACCESS OR USE OF THE SITE OR FOR ANY INJURY TO YOUR COMPUTER, INCLUSIVE OF VIRUSES, OR FOR ANY OMMISSIONS, INACCURCIES, DELETIONS OR ALTERATIONS ON THE SITE OR OF CONTENT, ANY FAILURE OF PERFORMANCE, DELAY IN OPERATION OR TRANSMISSION OF CONTENT, DEFECT, THEFT, DESTRUCTION OR THAT ANY PORTION OF THE SITE WILL BE FREE OF INFECTION BY VIRUSES OR ANY OTHER DESTRUCTIVE PROPERTIES OR THAT ACCESS TO THE SITE WILL BE UNINTERRUPTED OR ERROR-FREE. BECAUSE SOME STATES/JURISDICTIONS DO NOT ALLOW THE LIMITATION OF LIABILITY, THE ABOVE LIMITATION MAY NOT APPLY TO YOU.</p>

  %h2 9. Indemnification

  %p You agree to defend, indemnify and hold Heritage, its officers, directors and employees harmless from any and all claims, liabilities, costs and expenses, including reasonable attorneys' fees, arising in any way from your use or misuse of the Site or Services, or the uploading, posting, publishing, e-mailing, reproduction, distribution or transmission of any Content or other materials by you or users authorized by you or any violation of the Terms and Conditions. Heritage reserves the right, at its own expense, to assume the exclusive defense and control of any matter subject to indemnification by you, in which event you will cooperate with Heritage in asserting any available defense.

  %h2 10. Applicable Laws / Jurisdiction

  %p You agree that the laws of the Commonwealth of The Bahamas, excluding its conflicts-of-law rules, shall govern the Terms and Conditions. Your use of the Site may be subject to other local, state, national, and international laws. You hereby consent to the exclusive jurisdiction and venue of the courts of the Commonwealth of The Bahamas in all disputes arising out of your use of the Site and any claim involving Heritage or its employees, contractors, officers, directors, telecommunication providers and content providers. Heritage makes no representation that the material available on the Site is appropriate or available for use in other jurisdictions.

  %h2 11. Provisions unenforceable or invalid

  %p 
    If any part of this agreement is held invalid or unenforceable, that portion shall be construed in a manner consistent with applicable law to reflect, as nearly as possible, the original intentions of the parties, and the remaining portions shall remain in full force and effect.

  %h2 12. Assignment

  %p 
    You shall not transfer or assign any of your rights or obligations under this Agreement. Heritage may transfer, assign or sublicense any of its rights and obligations under this agreement to a third party whatsoever.
    %br
    If you have any questions about this policy or our site in general, please contact us at <a href="mailto:admin@heritagecookbook.com">admin@heritagecookbook.com</a></p>